@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>Breaking away from coffee chains</h3>

<div>
    <p>
        Everyone has heard of major coffee chains such as Starbucks and their drinks.
        Some are entirely coffee based while others barely have any coffee in it.
        Many people do not know about locally owned coffee shops.
        These shops generally focus on the quality of the beans used and either source their beans from other locally shops or even roast beans themselves.
        The beans they roast are much fresher and with better taste.
    </p>
</div>
