@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>Jesse Klima</h3>


<address>
    <strong>Email:</strong>   <a href="mailto:jesseklima@gmail.com">jesseklima@gmail.com</a><br />
    <strong>github:</strong> <a href="https://www.github.com/JKlima1">github.com/JKlima1</a>
</address>