@{
    ViewBag.Title = "Home Page";
}

<div class="text-center">
    <img src="~/Content/Images/logo.png" alt="Logo" />
    <h3>Welcome to TampaBayCoffee</h3>
    <h4>The website dedicated to coffee for the TampaBay area!</h4>
</div>
<div class="text-right">
    * Coffee equipment and Brewing methods are coming soon</>
</div>